n8n-workflows/complaint-routing.json
{
  "name": "Complaint Routing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "complaint-routing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "complaint-routing-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.payload.is_critical }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-critical",
      "name": "Is Critical Area?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.payload.ai_confidence }}",
              "operation": "largerEqual",
              "value2": 0.75
            }
          ]
        }
      },
      "id": "check-confidence",
      "name": "High Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/complaints/{{ $json.payload.complaint_id }}/approve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "auto-approve",
      "name": "Auto Approve Complaint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "system-auth",
          "name": "System API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/notify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "pending_review"
            },
            {
              "name": "complaint_id",
              "value": "={{ $json.payload.complaint_id }}"
            },
            {
              "name": "message",
              "value": "Complaint requires manual review due to low AI confidence"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-review",
      "name": "Notify Admin for Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "system-auth",
          "name": "System API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/notify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "critical_alert"
            },
            {
              "name": "complaint_id",
              "value": "={{ $json.payload.complaint_id }}"
            },
            {
              "name": "message",
              "value": "CRITICAL: Complaint in sensitive area requires immediate review"
            },
            {
              "name": "priority",
              "value": "critical"
            }
          ]
        },
        "options": {}
      },
      "id": "critical-alert",
      "name": "Send Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "system-auth",
          "name": "System API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/notify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "department_assignment"
            },
            {
              "name": "department_id",
              "value": "={{ $json.department_id }}"
            },
            {
              "name": "complaint_id",
              "value": "={{ $json.payload.complaint_id }}"
            },
            {
              "name": "message",
              "value": "New complaint assigned to your department"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-department",
      "name": "Notify Department",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "system-auth",
          "name": "System API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Routing completed', complaint_id: $json.payload.complaint_id }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow",
              "value": "complaint_routing"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-metadata",
      "name": "Set Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [350, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadata": {
      "main": [
        [
          {
            "node": "Is Critical Area?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical Area?": {
      "main": [
        [
          {
            "node": "Send Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "High Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Confidence?": {
      "main": [
        [
          {
            "node": "Auto Approve Complaint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Approve Complaint": {
      "main": [
        [
          {
            "node": "Notify Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Department": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Critical Alert": {
      "main": [
        [
          {
            "node": "High Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin for Review": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "complaint-management"
    },
    {
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "active": true,
  "pinData": {}
}
